.dark-mode{
    background-color: rgb(74, 12, 131);
}
.body{
    background-color: aquamarine;
    display: grid;
    place-items: center;
}
.logo{
    display: flex;
    align-items: center;
}
.logo-inner{
    height: 30%;
    width: 30%;
    border-radius: 20%;
}
.text{
    font-family:'Poppins', sans-serif;
}
.text input{
    border-radius: 20%;
}
.lobby{
    display: flex;
    justify-content: center;
    align-items: center;
}